h1{

color: red;
font-weight: 100;
font-size:40px;
}
h3{

    color: red;
    font-weight: 100;
    font-size:40px;


}
h5{
color: red;
font-size: 20px;
}
h4{ 
color: red;
}






*{
background-color: aquamarine;
}